
<h3>Search</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>

<ul id="search_results"></ul>

<link rel="stylesheet" type="text/css" href="/assets/css/modules/sidebar-search.css">
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

<div>
    <h4>有空给我喂下鱼</h4>
    <embed width="200" height="350" type="application/x-shockwave-flash" src="/assets/images/xshell_fish.swf"
           wmode="opaque" bgcolor="FFFFFF"
           flashvars="up_numFish=6&up_fishColor4=#F6F6F6&up_backgroundColor=FFFFFF&up_fishColor1=F4A61C&up_fishColor7=F45540&up_fishColor6=F45540&up_fishColor8=F45540&up_fishColor2=C4C4C4&up_fishColor9=F45540&up_fishColor3=#600000&up_fishName=Fish&up_fishColor5=F45540&up_fishColor10=F45540&up_backgroundImage=http://&up_foodColor=FCB347&">

</div>